*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9f9f9; 
}

#titulo, .opcao, #nome-passaro, #nome-cientifico, #descobrimento, .nome-paragrafo, .p-info{
    font-family: Verdana, Geneva, sans-serif;
}

/* estilos do menu lateral */

#titulo{
    position: absolute;
    left: 70px;
    top: 17px;
    font-size: 13pt;
    transition: all 0.2s linear;
}

#check{
    display: none;
}

#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}

.barra{
    background-color: #333;
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all 0.2s linear;
    left: -240px;
}

nav{
    width: 100%;
    position: absolute;
    top: 60px;
}

.botao-opcao{
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    transition: all 0.2s linear;
    opacity: 0;
}

.botao-visivel{
    opacity: 1;
}

.opcao{
    background-color: #494949;
    padding: 20px;
    font-size: 12pt;
    color: #f4f4f9;
    text-align: left;
    border-bottom: 2px solid #222;
    transition: all 0.2s linear;
}

.opcao:hover{
    background-color: #050542;
}

#check:checked ~ .barra{
    transform: translateX(240px);
}

#check:checked ~ #titulo{
    color: white;
}


/* estilos do conteúdo */

.container{
    background-color: lightgrey;
    width: 970px;
    height: 100vh;
    margin: 0 auto;
}

#nome-passaro{
    padding-top: 40px;
    margin: 0 20px 10px 20px;
    border-bottom: 1px solid grey;
}

#especificacao{
    list-style: none;
    margin: 40px;
}

#nome-cientifico{
    font-style:italic;
    margin-bottom: 5px;
}

.nome-paragrafo{
    font-weight: bold;
    margin-left: 20px;
}

.p-info{
    margin: 5px 20px 40px 20px;
}